.card{
  width: 300px;
  height: 400px;
  background-image: linear-gradient(aqua,pink);
  border: 2px solid pink;
  box-shadow: 5px 8px 8px 10px rgb(148, 148, 148);
}
.card-text {
  font-weight: bold;
}
body{
  background-color: aqua;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
